.Story {
  width: 80%;
  background-color: #f4f4f4;
  margin: 0.2em auto;
  border-radius: 0.2em;
  padding: 0.8em;
}

.Story .Story-title {
  margin-bottom: 4px;
}
.Story .Story-title a:link,
.Story .Story-title a:visited {
  font-size: 1em;
  color: #000;
}

.Story .Story-title a:hover,
.Story .Story-title a:active {
  text-decoration: none;
}

.Story .Story-info {
  color: #000;
}
.Story .Story-info span {
  margin: 4px;
}
.Story .Story-info span a {
  color: inherit;
}
