.Header-logo {
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  height: 100%;
  align-items: center;
  height: 60px;
  width: 80%;
  margin: 0 auto;
  padding-top: 0.3em;
  font-size: 1.2rem;
  background-color: #ff742b;
}
.Header-logo img {
  padding-bottom: 8px;
  width: 50px;
}
.Header-logo h1 {
  font-size: 1.2rem;
}

.Header-logo h1 span {
  display: block;
}

.Header-link {
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: center;
  align-items: center;
}

.Header-link a {
  margin: 10px;
  color: inherit;
  letter-spacing: 1px;
}

.active {
  font-weight: 700;
}

.Header-link a:hover {
  color: inherit;
  text-decoration: underline;
}
