* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  color: #000;
}

a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .Header-link {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 2rem;
  }

  .Header-link {
    flex-direction: column;
  }
  .Story {
    width: 90%;
  }
  .Header-logo {
    width: 90%;
  }
}
